@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
header{
    padding: 40px;
    font-size: 2rem;
    text-align: center;
    background-color: #8181e9;
}
main{
    background-color: #a6a6f0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2rem;
    color: #13121c;
    font-weight: 600;
}
.foto{
    width: 200px;
    height: 200px;
    position: relative;
    left: 22rem; 
    top: -280px;
    border: solid 10px #3d3588;
    border-radius: 50%;
    background-color: whitesmoke;
}
.coluna-esquerda{
    margin: 15px;
    width: 60%;
    gap: 1.3rem;
    font-size: 1.2rem;
}
.coluna-direita{
    width: 40%;
    background-color: #8181e9;
    padding: 6rem;
    gap: 2rem;
    font-size: 1.2rem;
}
.coluna-direita h2,
.coluna-direita ul,
.coluna-direita p {
    position: relative;
    top: -285px;
    left: -50px;
}
ul{
    list-style-position: inside;
}
footer {
    padding: 0.7rem;
    text-align: center;
    background-color: #5b5b87;
    color: rgb(0, 0, 0);
}
footer h3 {
    font-size: 20px;
}
footer p {
    font-size: 1.4rem;
}
@media (max-width: 768px) {
    main {
        flex-direction: column;
        gap: 2rem;
    }

    .coluna-esquerda,
    .coluna-direita {
        width: 90%;
        padding: 8px;
    }

    .coluna-direita {
        padding: 2rem;
    }
    li{
    margin-bottom: 0.8rem;
}

    .foto {
        position: static;
        display: block;
        margin: 0 auto 2rem;
    }

    .coluna-direita h2,
    .coluna-direita ul,
    .coluna-direita p {
        position: static;
        margin: 0;
    }
}